<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p><%= customers.length %> clientes cadastrados!</p>
    <table>
      <thead>
        <tr>
          <td>Nome</td>
          <td>Idade</td>
          <td>Região</td>
          <td>Uf</td>
          <td>Ações</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <% customers.forEach(item => { %>
          <td><%= item.nome %></td>
          <td><%= item.idade %></td>
          <td><%= item.cidade %></td>
          <td><%= item.uf %></td>
          <td></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </body>
</html>
